
#main-header{
    background-color: white;
    color:#134e9d; 

    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

    height: 100px;
}
#logo-qcom{
    position: absolute;
    margin: 0;
    width: 25%;
    right: 10px;
    top: 10px;
}
#logo-fab{
    width: 25%;
    position: absolute;
    top: 10px;
    right: 350px;
    right: 25%;
}





#navbar{
    position: absolute;
    right: 10px;

    background-color: #134e9d;
    color: white;
    height: 100%;
    width: 20%;
}
#navbar ul{
    list-style: none;
}
#navbar button{
    background-color: #134e9d;
    color: white;
    border:none;
    padding: 15px 5px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
#navbar a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}






#main-text {
    width: 75%;
}
#main-text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
#main-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}




#galery-text{
    position: absolute;
    right: 30%;
    width: 30%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}



.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: absolute;
}
.slider li {
    list-style: none;
    position: absolute;
}
.slider img {
    opacity: 0;
    visibility: hidden;
    margin: auto;
    height: 400px;
    width: 600px;
    vertical-align: top;
}
.slider input{
    display: none
}
.slider label{
    background-color: rgb(255, 255, 255);
    bottom: 10px;
    cursor: pointer; 
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}
.slider li:nth-child(1) label{
    left: 10px
}
.slider li:nth-child(2) label{
    left: 40px
}
.slider li:nth-child(3) label{
    left: 70px
}

.slider li:nth-child(4) label{
    left: 100px
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}