/* Header e logos */
#main-header{
    background-color: white;
    color:#134e9d; 

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;

    height: 20%;
    width: 100%;
}

#logo-qcom{
    position: absolute;
    margin: 0;
    width: 25%;
    right: 1%;
    top: 1%;
}

#logo-fab{
    position: absolute;
    width: 20%;
    top: 1%;
    right: 1%;
    right: 25%;
}





/* Navbar */
#navbar{
    position: absolute;
    right: 1%;

    background-color: #134e9d;
    color: white;
    height: 100%;
    width: 20%;
}
#navbar ul{
    list-style: none;
}
#navbar button{
    background-color: #134e9d;
    color: white;
    border:none;
    padding: 15px 5px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
#navbar a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}






/* Gráficos */
.graph{
    width: 30%;
    height: 35%;
}

#Voltage_1{
    position: absolute;
    left: 50px;
    top: 250px;
}

#Voltage_2{
    position: absolute;
    left: 550px;
    top: 250px;
}

#Current_1{
    position: absolute;
    left: 50px;
    top: 550px;
}

#Current_2{
    position: absolute;
    left: 550px;
    top: 550px;
}



.flex-container{
    flex-direction: column;
    position: absolute;
    right: 25%;

    display: flex;
    justify-content: space-between;
}

.status-chart{
    height: 150px;
    width: 250px;

    font-family: 'Courier New', Courier, monospace;
}

.status-chart p{
    margin: 0;
    text-align: center;
    font-size: 20px;
    position: relative;
}