<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FabLab IoT - Real-time Info</title>
    <link rel="stylesheet" href="static/real_time.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<body>
    <!-- Header e logos -->
    <header id="main-header">
        <h1>Laser Cutter Machine</h1>
        <img id="logo-qcom" src="static/images/logo/qc_iot_logo.png" alt="Qualcomm logo">
        <img id="logo-fab" src="static/images/logo/fab_logo.png" alt="FabLab logo">
    </header>

    <!-- Barra de navegação -->
    <nav id="navbar">
        <div class="container">
            <ul>
                <li></li><button><a href="/">Home</a></button></li>
                <li><button><a href="#">Real-time Information</a></button></li>
                <li><button><a href="#">Machine Report</a></button></li>
            </ul>
        </div>
    </nav>

    <!--Divs para gráficos dos sensores-->
    <div class="graph" id="Voltage_1"></div>
    <div class="graph" id="Voltage_2"></div>
    <div class="graph" id="Current_1"></div>
    <div class="graph" id="Current_2"></div>

    <!-- Status da máquina -->
    <div class="flex-container">
        <div class="status-chart"> <p>Machine</p> <img id="machine-status" src="static/images/on_off/off.png" width="250" height="120" alt=""></div>
        <div class="status-chart"> <p>Laser</p> <img id="laser-status" src="static/images/on_off/off.png" width="250" height="120" alt=""></div>
        <!-- <div class="status-chart"> <p>Exaust-Fan</p> <img id="exhaust-fan-status" src="static/images/on_off/off.png" width="250" height="120" alt=""></div>
        <div class="status-chart"> <p>Compressed Air</p> <img id="compressed-air-status" src="static/images/on_off/off.png" width="250" height="120" alt=""></div> -->
        <div class="status-chart"> <p>The current Power consumption is:</p> <p id="power-value"></p></div>
    </div>

    <!-- Ajax de update dos dados -->
    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        
        var startTime = 'a';
        var cnt = 0;

        function update(){
            $.getJSON($SCRIPT_ROOT + '/rt/_update', 
            function(data){
                Plotly.extendTraces('Voltage_1',{ y:[[data.v1]]},[0]);
                Plotly.extendTraces('Voltage_2',{ y:[[data.v2]]},[0]);
                Plotly.extendTraces('Current_1',{ y:[[data.c1]]},[0]);
                Plotly.extendTraces('Current_2',{ y:[[data.c2]]},[0]);

                document.getElementById("machine-status").src = "static/images/on_off/"+data.m_status+".png"
                document.getElementById("laser-status").src = "static/images/on_off/"+data.l_status+".png"
                document.getElementById("power-value").innerHTML = data.laser_power+"W"
            });
        };

        layout_V1 = {
            title:{text:'Laser Input Voltage',font:{family: 'Courier New, monospace',size: 24},xref: 'paper',x: 0.05,},
            xaxis:{showticklabels: false},
            yaxis:{title:{text:'Voltage',font:{family: 'Courier New, monospace',size: 18,color: '#7f7f7f'}}}
        };
        Plotly.plot('Voltage_1',[{y:[0],type:'line'}], layout_V1);

        layout_V2 = {
            title:{text:'Machine Input Voltage',font:{family: 'Courier New, monospace',size: 24},xref: 'paper',x: 0.05,},
            xaxis:{showticklabels: false},
            yaxis:{title:{text:'Voltage',font:{family: 'Courier New, monospace',size: 18,color: '#7f7f7f'}}}
        };
        Plotly.plot('Voltage_2',[{y:[0],type:'line'}], layout_V2);

        layout_C1 = {
            title:{text:'Laser Input Current',font:{family: 'Courier New, monospace',size: 24},xref: 'paper',x: 0.05,},
            xaxis:{showticklabels: false},
            yaxis:{title:{text:'Current',font:{family: 'Courier New, monospace',size: 18,color: '#7f7f7f'}}}
        };
        Plotly.plot('Current_2',[{y:[0],type:'line'}], layout_C1);

        layout_C2 = {
            title:{text:'Machine Input Current',font:{family: 'Courier New, monospace',size: 24},xref: 'paper',x: 0.05,},
            xaxis:{showticklabels: false},
            yaxis:{title:{text:'Current',font:{family: 'Courier New, monospace',size: 18,color: '#7f7f7f'}}}
        };
        Plotly.plot('Current_1',[{y:[0],type:'line'}], layout_C2);
        
        setInterval(function(){
            update();
            cnt++;
            if(cnt > 100) {
                Plotly.relayout('Voltage_1',{xaxis: {showticklabels: false,range: [cnt-100,cnt]},});
                Plotly.relayout('Voltage_2',{xaxis: {showticklabels: false,range: [cnt-100,cnt]},});
                Plotly.relayout('Current_1',{xaxis: {showticklabels: false,range: [cnt-100,cnt]}});
                Plotly.relayout('Current_2',{xaxis: {showticklabels: false,range: [cnt-100,cnt]}});
            }
        },200);
    </script>

</body>
</html>
